<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<ons-page modifier="plan-details" ng-controller="PlanEditController">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="backPage()">
                    <i class="zmdi zmdi-arrow-left"></i>
                </md-button>
                <h2>
                    <span>計画入力</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
  </ons-toolbar>
  <form name="form">
    <md-contents class="layout-padding">
        <div layout="row">
            <div flex="5"></div>
            <md-input-container class="md-block" flex="auto">
                <label>イベント名</label>
                <input ng-model="edititem.title" required>
            </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-input-container class="md-block" flex="auto">
                <label>開始日</label>
                <input type="date" ng-model="edititem.datefrom">
            </md-input-container>
            <md-input-container class="md-block" flex="auto">
                <label>終了日</label>
                <input type="date" ng-model="edititem.dateto" ng-min="edititem.datefrom">
            </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-input-container class="md-block" flex="auto">
                <label>大人</label>
                <input type="number" ng-model="edititem.numpeople">
            </md-input-container>
            <md-input-container class="md-block" flex="auto">
                <label>子供</label>
                <input type="number" ng-model="edititem.numchild">
            </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
                <md-input-container class="md-block" flex="auto">
                  <label>テキスト</label>
                  <textarea class="input-disabled-display" ng-model="edititem.text" md-select-on-focus></textarea>
                </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-select ng-model="edititem.plancategory">
              <md-option ng-repeat="category in plancategory" value="{{category.categoryid}}">
                {{category.name}}
              </md-option>
            </md-select>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="update();" ng-disabled="form.$invalid">更新</md-button>
        </div>
    </md-contents>
   </form>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>
