<!DOCTYPE HTML>
<html>
<head>
<script>
</script>
</head>
<body>

<ons-page modifier="plan-details" ng-controller="PlanDetailController">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="app.navi.popPage()">
                    <i class="zmdi zmdi-arrow-left"></i>
                </md-button>
                <h2>
                    <span>計画</span>
                </h2>
                <span flex></span>

            </div>
        </md-toolbar>
    </ons-toolbar>
        <md-tabs class="md-accent" md-align-tabs="top" md-selected="selectedIndex" md-swipe-content>
            <md-tab id="tab1">
                <md-tab-label>概要</md-tab-label>
                <md-tab-body>
                    <md-contents class="layout-padding">
                        <div layout="row">
                              <div flex="5"></div>
                              <md-input-container class="md-block" flex="auto">
                                <label>イベント名</label>
                                <input class="input-disabled-display" ng-model="item.title" disabled>
                              </md-input-container>
                              <div flex="5"></div>
                        </div>
                        <div layout="row">
                              <div flex="5"></div>
                              <md-input-container class="md-block" flex="auto">
                                <label>開始日</label>
                                <input type="date" class="input-disabled-display" ng-model="item.datefrom" disabled>
                              </md-input-container>
                              <md-input-container class="md-block" flex="auto">
                                <label>終了日</label>
                                <input type="date" class="input-disabled-display" ng-model="item.dateto" disabled>
                              </md-input-container>
                              <div flex="5"></div>
                        </div>
                        <div layout="row">
                            <div flex="5"></div>
                            <md-input-container class="md-block" flex="auto">
                                <label>大人</label>
                                <input type="number" class="input-disabled-display" ng-model="item.numpeople" disabled>
                            </md-input-container>
                            <md-input-container class="md-block" flex="auto">
                                <label>子供</label>
                                <input type="number" class="input-disabled-display" ng-model="item.numchild" disabled>
                            </md-input-container>
                            <div flex="5"></div>
                        </div>
                        <div layout="row">
                              <div flex="5"></div>
                                <md-input-container class="md-block" flex="auto">
                                  <label>テキスト</label>
                                  <textarea class="input-disabled-display" ng-model="item.text" md-select-on-focus disabled></textarea>
                                </md-input-container>
                              <div flex="5"></div>
                        </div>
                        <div layout="row">
                            <div flex="5"></div>
                            <md-select ng-model="item.plancategory" disabled>
                              <md-option ng-repeat="category in plancategory" value="{{category.categoryid}}">
                                {{category.name}}
                              </md-option>
                            </md-select>
                            <div flex="5"></div>
                        </div>
                    </md-contents>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>予定</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <section ng-repeat="date in getDates()">
                            <md-subheader>{{date | date:'yyyy/MM/dd'}}</md-subheader>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="schedule in getSchedulesDate(date)" ng-click="openEditSchedule(schedule.scheduleid);">
                                    <div class="md-list-item-text">
                                        <h3>{{schedule.title}}</h3>
                                        <p>{{schedule.timefrom | date:'H:mm'}} ～ {{schedule.timeto | date:'H:mm'}}</p>
                                    </div>
                                    <md-menu md-offset="0 -7">
                                      <md-button  class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <i class="zmdi zmdi-more-vert"></i>
                                      </md-button>
                                      <md-menu-content width="2">
                                        <md-menu-item>
                                          <md-button ng-click="deleteSchedule(schedule.scheduleid)"> <span md-menu-align-target>削除</span></md-button>
                                        </md-menu-item>
                                      </md-menu-content>
                                    </md-menu>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>費用</md-tab-label>
                <md-tab-body>
                    <md-toolbar class="md-tall md-accent">
                        <div style="margin:auto;">合計金額　{{total()}}円</div>
                        <div layout="row">
                            <div flex="5"></div>
                            <md-input-container class="md-block" flex="30">
                                <label>人数</label>
                                <input ng-model="numpeople">
                            </md-input-container>
                            <div style="margin-top:20px" flex="60">一人当り　{{division()}}円</div>
                            <div flex="5"></div>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <md-list>
                            <md-list-item class="md-2-line"ng-repeat="expense in item.expenses track by expense.expenseid" modifier="chevron" ng-click="openEditExpense(expense.expenseid);">
                                <img alt="logo" ng-src="{{getIcon(expense.category)}}" class="md-avatar avatar-square" />
                                <div class="md-list-item-text">
                                    <h3>{{getExTitle(expense)}}</h3>
                                    <p>{{expense.total}}</p>
                                </div>
                                <md-menu md-offset="0 -7">
                                  <md-button  class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <i class="zmdi zmdi-more-vert"></i>
                                  </md-button>
                                  <md-menu-content width="2">
                                    <md-menu-item>
                                      <md-button ng-click="deleteExpense(expense.expenseid)"> <span md-menu-align-target>削除</span></md-button>
                                    </md-menu-item>
                                  </md-menu-content>
                                </md-menu>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab4">
                <md-tab-label>持ち物</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <md-list>
                            <md-subheader ng-repeat-start="genre in getGenres()" class="md-no-sticky {{genre.cls}}">
                                <img ng-src="{{genre.img}}" class="imgicon"/>
                                <span>{{genre.name}}</span>
                            </md-subheader>
                            <md-list-item ng-repeat-end ng-repeat="gearitem in getGears(genre.genreid) track by gearitem.gearid" ng-init="gear = getGear(gearitem.gearid)" ng-click="toggleCheck(gearitem)">
                                <md-checkbox ng-model="gearitem.selected"></md-checkbox>
                                <p>{{gear.name}}</p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <md-button class="md-fab add-button" aria-label="Edit" ng-click="openEdit($event);">
            <i class="zmdi zmdi-edit"></i>
        </md-button>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>