<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script>
        //
        // TODO: Write JavaScript code here
        //
    </script>
</head>
<body>
<ons-page modifier="schedule-edit" ng-controller="ScheduleEditController">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="backPage();">
                <i class="zmdi zmdi-arrow-left"></i>
            </md-button>
            <h2>
              <span>予定入力</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
    </ons-toolbar>
    <md-contents layout-padding>
    <form name="form">
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>タイトル</label>
                <input ng-model="editSchedule.title" required>
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>日付</label>
                <md-select ng-model="selectDate" required>
                    <md-option ng-repeat="date in dates" value="{{date}}">{{date}}</md-option>
                </md-select>
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>開始時間</label>
                <input type="time" ng-model="editSchedule.timefrom" ng-change="changeTimefrom()">
              </md-input-container>
              <md-input-container class="md-block" flex="auto">
                <label>終了時間</label>
                <input type="time" ng-model="editSchedule.timeto" ng-min="editSchedule.timefrom">
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-input-container class="md-block" flex="auto">
                <label>テキスト</label>
                <textarea ng-model="editSchedule.text" md-maxlength="150" rows="5" id="text" ng-focus="jumpTo('text')"></textarea>
            </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="updateSchedule();" ng-disabled="form.$invalid">更新</md-button>
        </div>
        </form>
    </md-contents>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>
