<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script>
    </script>
</head>
<body>
<ons-page modifier="expence-details" ng-controller="ExpenseOtherController">

    <ons-toolbar modifier="transparent">
          <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="backPage();">
                <i class="zmdi zmdi-arrow-left"></i>
            </md-button>
            <h2>
              <span>計画</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
    </ons-toolbar>
    
    <form name="form">
        <md-contents>
            <div layout="row">
                  <div flex="5"></div>
                  <md-input-container class="md-block" flex="auto">
                    <label>タイトル</label>
                    <input ng-model="expense.datas.title" required/>
                  </md-input-container>
                  <div flex="5"></div>
            </div>
            <div layout="row">
                  <div flex="5"></div>
                  <md-input-container class="md-block" flex="auto">
                    <label>金額</label>
                    <input type="number"  ng-model="expense.datas.expence"  placeholder="0" required/>
                  </md-input-container>
                  <div flex="5"></div>
            </div>   
        </md-contents>
        <div layout="row">
            <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="updateExpense();" ng-disabled="form.$invalid">更新</md-button>
        </div>
    </form>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>
