<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<ons-page ng-controller="BelongingsController">
    <ons-toolbar class="search">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="app.navi.popPage()">
                    <i class="zmdi zmdi-arrow-left"></i>
                </md-button>
            <h2>
              <span>持ち物選択</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
        <md-toolbar class="md-hue-2">
            <div layout="row">
                <div flex="5"></div>
                <md-select md-theme="accent" ng-model="serachGenre" style="color:white !important;font-size:14px;margin:0;" flex>
                  <md-option ng-repeat="genre in genres" value="{{genre.genreid}}">
                    {{genre.name}}
                  </md-option>
                </md-select>
                <div flex="30">
                    <md-button class="md-primary md-primary md-hue-1" ng-click="serachGenre = ''">クリア</md-button>
                </div>
                <div flex="5"></div>
            </div>
        </md-toolbar>
    </ons-toolbar>
    <md-contents>
        <md-list style="padding-top:0;">
            <md-subheader ng-repeat-start="genre in getGenres()" class="md-no-sticky {{genre.cls}}">
                <img ng-src="{{genre.img}}" class="imgicon"/>
                <span>{{genre.name}}</span>
            </md-subheader>
            <md-list-item ng-repeat-end class="md-2-line" ng-repeat="item in getItems(genre.genreid) track by item.gearid | orderBy: 'name'" ng-click="change(item.gearid)">
                <md-checkbox ng-checked="isChecked(item.gearid)" ng-click="change(item.gearid)"></md-checkbox>
                <div class="md-list-item-text" layout="column">
                    <h3>{{item.name}}</h3>
                    <p>{{item.maker}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-contents>
</ons-page>
<ons-bottom-toolbar modifier="nend">
    <nend-ad-injector></nend-ad-injector>
</ons-bottom-toolbar>
</body>
</html>
