<!DOCTYPE HTML>
<html>
<head>
    <script>
        //
        // TODO: Write JavaScript code here
        //
    </script>
</head>
<body>
<ons-page ng-controller="SettingController">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="app.slidingMenu.toggleMenu()">
                    <i class="zmdi zmdi-menu"></i>
                </md-button>
                <h2>
                    <span>設定</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
  </ons-toolbar>
  <form name="form">
    <md-contents class="layout-padding">
        <div layout="row">
            <div flex="5"></div>
            <h1 flex class="md-title">デフォルト設定</h1>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-input-container class="md-block" flex="auto">
                <label>燃費（km/ℓ）</label>
                <input type="number"  ng-model="setting.fuel_consumption">
            </md-input-container>
            <md-input-container class="md-block" flex="auto">
                <label>ガソリン価格（ℓ）</label>
                <input type="number"  ng-model="setting.gasoline_price">
            </md-input-container>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
                <md-input-container class="md-block" flex="auto">
                    <label>出発IC</label>
                    <input type="text" ng-change="getStartSuggest()" ng-model="setting.highway_home" autocomplete="on" list="staretIC"/>
                    <datalist id="staretIC">
                        <option ng-repeat="suggest in startSuggest" value="{{suggest}}"/>
                    </datalist>
                </md-input-container>
            <div flex="5"></div>
        </div>

<!--        <div layout="row">
            <div flex="5"></div>
            <h1 flex class="md-title">共有設定</h1>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex>
                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="setting.share.peoplenum">
                    人数
                </md-switch>    
            </div>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex>
                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="setting.share.schedule">
                    予定
                </md-switch>    
            </div>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex>
                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="setting.share.expence">
                    費用
                </md-switch>    
            </div>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex>
                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="setting.share.belonging">
                    持ち物
                </md-switch>    
            </div>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex>
                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="setting.share.belonging">
                    持ち物
                </md-switch>    
            </div>
            <div flex="5"></div>
        </div>
-->
        <div layout="row">
            <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="update();" ng-disabled="form.$invalid">更新</md-button>
        </div>
        <md-list style="padding-top:0;">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>アプリ情報</h3>
                    <p>Camp Support ver1.0.0</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="openKousoku()">
                <div class="md-list-item-text" layout="column">
                    <h3>高速.jp</h3>
                    <p>このアプリはkosoku APIを使用しています</p>
                </div>
            </md-list-item>
        </md-list>
    </md-contents>
   </form>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>

</body>
</html>
