<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script>
    </script>
</head>
<body>
<ons-page modifier="expence-details" ng-controller="ExpenseMovingController">
    <ons-toolbar modifier="transparent">
          <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="backPage();">
                <i class="zmdi zmdi-arrow-left"></i>
            </md-button>
            <h2>
              <span>計画</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
    </ons-toolbar>
    <md-toolbar class="md-tall md-accent">
        <div style="margin:auto;">合計金額　{{total()}}円</div>
    </md-toolbar>
     <form name="form">
        <md-contents class="layout-padding">
            <div layout="row">
                  <div flex="5"></div>
                  <div flex=>車</div>
                  <div flex="5"></div>
            </div>
            <div layout="row">
                  <div flex="5"></div>
                  <md-input-container class="md-block" flex="auto">
                    <label>車両費（レンタル代等）</label>
                    <input type="number"  ng-model="expense.datas.car">
                  </md-input-container>
                  <div flex="5"></div>
            </div>
            <div layout="row">
                  <div flex="5"></div>
                  <div flex=>ガソリン代</div>
                  <div flex="5"></div>
            </div>
            <div layout="row">
                    <div flex="5"></div>
                    <md-input-container class="md-block" flex="auto">
                        <label>燃費（ℓ）</label>
                        <input type="number"  ng-model="expense.datas.fuel_consumption">
                    </md-input-container>
                    <md-input-container class="md-block" flex="auto">
                        <label>ガソリン価格（ℓ）</label>
                        <input type="number"  ng-model="expense.datas.gasoline_price">
                    </md-input-container>
                    <div flex="5"></div>
            </div>
            <div layout="row">
                    <div flex="5"></div>
                    <md-input-container class="md-block" flex="auto">
                        <label>走行距離（往復）</label>
                        <input type="number"  ng-model="expense.datas.distance">
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container class="md-block" flex="auto">
                        <label>合計</label>
                        <input type="number"  ng-model="getGasTotal()" disabled>
                    </md-input-container>
                    <div flex="5"></div>
            </div>
            <div layout="row">
                    <div flex="5"></div>
                    <div flex=>高速料金</div>
                    <div flex="5"></div>
            </div>
            <div layout="row">
                    <div flex="5"></div>
                    <md-input-container class="md-block" flex="auto">
                        <label>往路</label>
                        <input type="number"  ng-model="expense.datas.highway_outward">
                    </md-input-container>
                    <div flex="auto">
                        <md-button class="md-raised md-primary" ng-click="searchHighwayOutward()">検索</md-button>
                    </div>
                    <div flex="5"></div>
            </div>
            <div layout="row">
                    <div flex="5"></div>
                    <md-input-container class="md-block" flex="auto">
                        <label>復路</label>
                        <input type="number"  ng-model="expense.datas.highway_homeward">
                    </md-input-container>
                    <div flex="auto">
                        <md-button class="md-raised md-primary" ng-click="searchHighwayHomeward()">検索</md-button>
                    </div>
                    <div flex="5"></div>
            </div>
            <div layout="row">
                <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="updateExpenseMoving();" ng-disabled="form.$invalid">更新</md-button>
            </div>
        </md-contents>
    </form>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>
