<!DOCTYPE HTML>
<html>
<head>
<script>
</script>
</head>
<body>
<ons-page modifier="gear-details" ng-controller="GearEditController">
<div class="main">
<form name="form">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="backPage();">
                    <i class="zmdi zmdi-arrow-left"></i>
                </md-button>
                <h2>
                    <span></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="update();">
                    <i class="zmdi zmdi-check"></i>
                </md-button>
            </div>
        </md-toolbar>
    </ons-toolbar>
    <div class="card edit-genre" ng-class="genreCls">
    <div class="card-content">
        <div class="flex">
            <div class="genre-icon">
                <ons-fab ng-click="showDialog();">
                    <ons-ripple></ons-ripple>
                    <img ng-src="{{genre.img}}" class="imgicon"/>
                </ons-fab>
            </div>
            <div class="genre-val">{{genre.name}}</div>
        </div>
    </div>
  </div>
  <ons-list>
    <ons-list-item>
      <div class="prop-desc one-line">
        <div class="icon">
        </div>
        <div class="val">
            <input type="text" ng-model="edititem.name" class="text-input text-input--transparent width100" placeholder="Product Title" required/>
        </div>
      </div>
    </ons-list-item>
    <ons-list-item>
      <div class="prop-desc one-line">
        <div class="icon">
            <ons-icon icon="fa-building"></ons-icon>
        </div>
        <div class="val">
            <input type="text" ng-model="edititem.brand" class="text-input text-input--transparent width100" placeholder="brand"/>
        </div>
    　</div>
    </ons-list-item>
    <ons-list-item>
      <div class="prop-desc one-line">
        <div class="icon">
            <ons-icon icon="fa-jpy"></ons-icon>
        </div>
        <div class="val">
            <input type="text" ng-model="edititem.price" class="text-input text-input--transparent width100" placeholder="Price"/>
        </div>
      </div>
    </ons-list-item>
    <ons-list-item>
      <div class="prop-desc multi-line">
        <div class="icon">
            <ons-icon icon="fa-sticky-note"></ons-icon>
        </div>
        <div class="val">
            <textarea ng-model="edititem.text" class="textarea textarea--transparent width100" rows="10" placeholder="Text"></textarea>
        </div>
      </div>
    </ons-list-item>
    <ons-list-item>
      <div class="prop-desc">
        <div class="icon">
            <ons-icon icon="fa-file-image-o"></ons-icon>
        </div>
        <div class="val">
            <div class="flex-container">
                <ons-button modifier="material" class="default-dark" style="color:black" ng-click="openCamera();"><ons-icon icon="fa-camera-retro"></ons-icon><span style="margin-left:5px;">写真を撮る</span></ons-button>
                <ons-button modifier="material" class="default-dark" style="color:black;margin-left:5px;" ng-click="openAlbum();"><ons-icon icon="fa-file-image-o"></ons-icon><span style="margin-left:5px;">アルバム</span></ons-button>
            </div>
            <div class="flex-container">
                <img ng-repeat="image in edititem.images track by $index" ng-click="selectImage(image);" class="flex-item cover" ng-class="{'checkedImage':image.checked,'deleteImage':image.isdelete}" src="{{image.src}}">
            </div>
            <div class="flex-container">
                <ons-button modifier="material" class="accent-color" style="color:black" ng-click="tempDeleteImage();"><ons-icon icon="fa-trash"></ons-icon><span style="margin-left:5px;">削除</span></ons-button>
            </div>
        </div>
      </div>
    </ons-list-item>
  </ons-list>
</form>
</div>
</ons-page>




<style>

</style>
</body>
</html>