<!DOCTYPE HTML>
<html>
<head>
<script>
</script>
</head>
<body>
<ons-page modifier="gear-details" ng-controller="GearEditController">
<form name="form">
    <ons-toolbar modifier="transparent">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="backPage();">
                    <i class="zmdi zmdi-arrow-left"></i>
                </md-button>
                <h2>
                    <span>道具入力</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
    </ons-toolbar>
    <md-toolbar ng-class="setGenreCls()">
        <div layout="row" layout-align="center">
            <md-select ng-model="edititem.genreid">
                <md-option ng-repeat="genre in genres" value="{{genre.genreid}}">
                    <img ng-src="{{genre.img}}" class="imgicon-text"/>
                    <span class="md-flex" style="color:#000;">{{genre.name}}</span>
                </md-option>
            </md-select>
            <div flex></div>
            <div>
                <md-button class="md-raised md-primary" ng-click="addGenre();">
                    追加
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-contents layout-padding>
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>品名</label>
                <input ng-model="edititem.name" required/>
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>ブランド</label>
                <input ng-model="edititem.brand"/>
              </md-input-container>
              <md-input-container class="md-block" flex="auto">
                <label>価格</label>
                <input type="number" ng-model="edititem.price"/>
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
              <div flex="5"></div>
              <md-input-container class="md-block" flex="auto">
                <label>説明</label>
                <textarea ng-model="edititem.text" rows="10"></textarea>
              </md-input-container>
              <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <fieldset class="standard" >
              <legend>使用シーン</code></legend>
              <div layout="row" layout-wrap flex>
                <div flex="50" ng-repeat="category in plancategory">
                  <md-checkbox ng-checked="plancategoryexists(category.categoryid)" ng-click="plancategorytoggle(category.categoryid)">
                    {{ category.name }}
                  </md-checkbox>
                </div>
              </div>
            </fieldset>
            <div flex="5"></div>
        </div>
        <div layout="row">
                <div flex="5"></div>
                <md-button md-no-ink class="md-fab md-mini md-primary" ng-click="leftImage()">
                    <ons-icon icon="fa-arrow-left"></ons-icon>
                </md-button>
                <md-button md-no-ink class="md-raised md-primary" ng-click="openCamera();">写真を撮る</md-button>
                <md-button md-no-ink class="md-raised md-primary" ng-click="openAlbum();">アルバム</md-button>
                <md-button md-no-ink class="md-fab md-mini md-primary" ng-click="rightImage()">
                    <ons-icon icon="fa-arrow-right"></ons-icon>
                </md-button>
                <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex layout="row" style="flex-wrap:wrap;">
                <img ng-repeat="imageItem in edititem.images track by imageItem.name" style="width:100px;min-width:100px;height:100px;" ng-src="{{imageItem.src}}" 
                    ng-class="{'deleteImage':imageItem.isdelete,'checkedImage':imageItem.checked,'uncheckedImage':!imageItem.checked}" ng-click="imageItem.checked = !imageItem.checked" draggable="true"/>
            </div>
            <div flex="5"></div>
        </div>
        <div layout="row">
              <div flex="5"></div>
              <md-button class="md-raised md-warn" ng-click="tempDeleteImage();">削除</md-button>
              <div flex="5"></div>
        </div>
        <div layout="row">
            <md-button class="md-raised md-accent btn-large" flex="auto" ng-click="update();" ng-disabled="form.$invalid">更新</md-button>
        </div>
    </md-contents>
</form>
    <ons-bottom-toolbar modifier="nend">
        <nend-ad-injector></nend-ad-injector>
    </ons-bottom-toolbar>
</ons-page>
</body>
</html>