<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script>
    </script>
</head>
<body>
<ons-page ng-controller="GearListController">
    <ons-toolbar class="search">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="app.slidingMenu.toggleMenu()">
                <i class="zmdi zmdi-menu"></i>
            </md-button>
            <h2>
              <span>アウトドア道具</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
        <md-toolbar class="md-hue-2">
            <div layout="row">
                <div flex="5"></div>
                <md-select ng-model="serachGenre" style="color:white !important;font-size:14px;margin:0;" flex>
                  <md-option ng-repeat="genre in genres" value="{{genre.genreid}}">
                    {{genre.name}}
                  </md-option>
                </md-select>
                <div flex="30">
                    <md-button class="md-primary" ng-click="serachGenre = ''">クリア</md-button>
                </div>
                <div flex="5"></div>
            </div>
        </md-toolbar>
    </ons-toolbar>
    <md-contents>
        <md-list style="padding-top:0;">
            <md-subheader ng-repeat-start="genre in getGenres()" class="md-no-sticky {{genre.cls}}">
                <img ng-src="{{genre.img}}" class="imgicon"/>
                <span>{{genre.name}}</span>
            </md-subheader>
            <md-list-item ng-repeat-end class="md-3-line" ng-repeat="item in getItems(genre.genreid) track by item.gearid | orderBy: 'name'" ng-click="openDetail(item.gearid);">
                <img ng-src="{{getImage(item)}}" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{item.name}}</h3>
                    <p>{{item.maker}}</p>
                    <p>{{item.text}}</p>
                </div>
                <md-menu md-offset="0 -7">
                  <md-button  class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="zmdi zmdi-more-vert"></i>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="delete(item.gearid)"> <span md-menu-align-target>削除</span></md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
    </md-contents>
    <md-button class="md-fab add-button" ng-click="openEdit();">
        <ons-icon icon="fa-plus"></ons-icon>
    </md-button>
</ons-page>
<ons-bottom-toolbar modifier="nend">
    <nend-ad-injector></nend-ad-injector>
</ons-bottom-toolbar>
</body>
</html>
