<ons-navigator>
   <ons-page id="topPage" ng-controller="TopController">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="app.slidingMenu.toggleMenu()">
                <i class="zmdi zmdi-menu"></i>
            </md-button>
            <h2>
              <span>Camp Support</span>
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
        <div layout="column">
            <md-button class="md-raised md-primary btn-large" flex ng-click="app.slidingMenu.setMainPage('html/plan/planList.html')">計　画</md-button>
            <md-button class="md-raised md-primary btn-large" flex ng-click="app.slidingMenu.setMainPage('html/gear/gearList.html')">道　具</md-button>
            <md-button class="md-raised md-primary btn-large" flex ng-click="app.slidingMenu.setMainPage('html/plan/move/searchHighway.html')">高速道路検索</md-button>
            <md-button class="md-raised md-accent btn-large" flex ng-click="app.slidingMenu.setMainPage('html/setting/setting.html')">設　定</md-button>
        </div>
        <ons-bottom-toolbar modifier="nend">
            <nend-ad-injector></nend-ad-injector>
        </ons-bottom-toolbar>
    </ons-page>
</ons-navigator>