/* This is a CSS file */

.page--gear-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card-image {
    height: 250px;
}
ons-carousel-item{
    position: relative;
    overflow: hidden;
}
ons-carousel-item img{
    position: absolute;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.page--gear-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}
.checkedImage {
    border: 3px solid #FF9800;
}
.uncheckedImage {
    border: 0px;
}
.deleteImage {
    display: none !important;
}
.carousel-item-chevron-l:before {
    position: absolute;
    left: 16px;
    top: 80%;
    padding: 5px 0 0 10px;
    background-color: gray;
    opacity: 0.6;
    color: #ddd;
    line-height: 28px;
    height: 40px;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 28px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f104";
}
.carousel-item-chevron-r:before {
    position: absolute;
    right: 16px;
    top: 80%;
    padding: 5px 0 0 10px;
    background-color: gray;
    opacity: 0.6;
    color: #ddd;
    line-height: 28px;
    height: 40px;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 28px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f105";
}