/* This is a CSS file */

.page--gear-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card-image {
    height: 250px;
}
ons-carousel-item{
    position: relative;
    overflow: hidden;
}
ons-carousel-item img{
    position: absolute;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.page--gear-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}
.checkedImage {
    border: 3px solid #FF9800;
}
.uncheckedImage {
    border: none;
}
.deleteImage {
    display: none;
}
